@model Seleta.Models.Produto

@{
    ViewData["Title"] = "Informações do produto";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<head>
    <title>Informações do produto</title>
    <link rel="icon" type="image/x-icon" href="~/css/img/Seleta.png">

</head>

<body style="background-color: #FEFAE0">
    <section style="background-color:#606C38DB">
        <div class="container-fluid ">
            <div class="row p-5">
                <div class="col-lg-6 col-md-12">
                    @if (Model.Imagem != null && Model.Imagem.Length > 0)
                    {
                        <img class="card-imagem" src="data:@Model.TipoImagem;base64,@Convert.ToBase64String(Model.Imagem)" style="width:100%" alt="Imagem de capa do card">
                    }
                </div>
                <div class="col-lg-6 col-md-12 mt-md-4 ">
                    <h3 class= "card-title"> @Html.DisplayFor(model => model.Nome)</h3>
                    <h4 class="card-subtitle mt-5">R$@Html.DisplayFor(model => model.Preco)</h4>
                    <p class="card-text mt-5"> Disponível em: @Html.DisplayFor(model => model.Estabelecimento.Nome)</p>
                    <p class="card-text mt-2"> Endereço:  @Html.DisplayFor(model => model.Estabelecimento.Endereco)</p>
                    <a asp-action="Index" class="btn btn-dark btn-lg btn-block border-0">Voltar</a>
                    <a asp-action="SalvarProduto" asp-controller="ListaDeCompras" asp-route-produtoId="@Model.Id" class="btn btn-lg btn-block border-0" style="background-color: #DDA15E">Adicionar à Lista </a>
                </div>

            </div>
          
    </section>

    <section class="container">
        <div class="row">
            <div class="col-lg">
                <h3 class="m-5"> Descrição: </h3>
                <p class="m-5">@Html.DisplayFor(model => model.Descricao)</p>
            </div>
            <div class="col-lg">
                <h3 class="m-5"> Adequado para:  </h3>
                <p class="m-5"> @Html.DisplayFor(model => model.Restricoes) </p>
            </div>
        </div>
       
      
        
    </section>
     
</body>

<footer class="footer-perfil" style="background-color: #FEFAE0; position: absolute; top: 100%; z-index: 1; width: 100%; height: 80px;">
    <div class="container" style="position: relative; top: 90%; font-size: 16px; font-weight: 400; line-height: 24px; text-align: center; color: #283618;">
        &copy; 2023 - Seleta - Idiomas - Política de Privacidade - Ajuda
    </div>
</footer>