@model Seleta.Models.Produto

@{
    ViewData["Title"] = "Informações do produto";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<head>
    <title>Informações do produto</title>
    <link rel="icon" type="image/x-icon" href="~/css/img/Seleta.png">

</head>

<body>
   
    <div class="mb-3" style="position: absolute; width: 100%; height: 100%; top: 12%; left: 0; background-color: #606C38DB;">
        <div class="mb-3">

            <h1 style="color: #000;padding-top: 2%; margin-left: 3%; font-size: 32px;">Informações do produto</h1>
            <hr / style="position: relative; width: 520px; left: 2%; color: #FEFAE0;">

            <div class="row" style="color: #000">

                <dl class="row" style="margin-left: 2%">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Preco)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Preco)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.QuantidadePeso)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.QuantidadePeso)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Categoria)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Restricoes)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Restricoes)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Estabelecimento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Estabelecimento.Nome) 
                </dd>
                
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Estabelecimento.Endereco)
                </dd>
                </dl>
            </div>
            <div>
                <a asp-controller="Home" asp-action="Index" class="btn" style="width: 10%; color: #=#283618; background-color: #D9D9D957; border-radius: 10px;border: 1px solid #283618; margin-left: 3%;">
                    Voltar
                </a>

                
            </div>
        </div>
    </div>
</body>

<footer class="footer-perfil" style="background-color: #FEFAE0; position: absolute; top: 100%; z-index: 1; width: 100%; height: 80px;">
    <div class="container" style="position: relative; top: 90%; font-size: 16px; font-weight: 400; line-height: 24px; text-align: center; color: #283618;">
        &copy; 2023 - Seleta - Idiomas - Política de Privacidade - Ajuda
    </div>
</footer>