@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Seleta.Models.Produto>

@{
    ViewData["Title"] = "Meus Produtos";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<head>
    <title> Meus Produtos</title>
    <link rel="icon" type="image/x-icon" href="~/css/img/Seleta.png">

</head>
<body style="background-color: #FEFAE0">
    <section style="position: relative; background-color: #606C38; text-align: center; color: white;">
        <img src="~/css/img/banner2.png" alt="..." style=" width: 100%; height: 400px">
        <h4 style="letter-spacing: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Navegue e encontre alimentos que atendam às suas restrições alimentares, simplificando suas escolhas e cuidando da sua saúde</h4>
    </section>

    <section>
        <h2>Resultado da pesquisa: </h2>
        <div class="row m-4">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card bg-transparent">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="card-text">Descrição: @item.Descricao</p>
                            <p class="card-text">Preço: R$ @item.Preco</p>
                            <p class="card-text">Adequado para: @item.Restricoes</p>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary btn-sm">Ver Detalhes</a>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary btn-sm">Adicionar à lista </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <section class="terceira_section">
        <div class="terceira_section-dois">
            <h3>SEJA LIVRE PARA SABOREAR A VIDA SEM RESTRIÇÕES</h3>
        </div>
    </section>

</body>

