@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Seleta.Models.Produto>


@{
    ViewData["Title"] = "Resultado da pesquisa";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<body class="min-vh-100" style="background-color: #606C38DB;">

    <section>
        <h2 style="color: #000;padding-top: 2%; margin-left: 3%; font-size: 32px;">Resultado da pesquisa: </h2>
        <div class="row m-4">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card bg-white">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="card-text">Descrição: @item.Descricao</p>
                            <p class="card-text">Preço: R$ @item.Preco</p>
                            <p class="card-text">Adequado para: @item.Restricoes</p>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary btn-sm">Ver Detalhes</a>
                            <a asp-action="SalvarProduto" asp-controller="ListaDeCompras" asp-route-produtoId="@item.Id" class="btn btn-secondary btn-sm">Adicionar à Lista </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

</body>


