@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Seleta.Models.Produto>



@{
    ViewData["Title"] = "Resultado da pesquisa";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<body class="min-vh-100" style="background-color: #FEFAE0">
    <section style="position: relative; background-color: #606C38; text-align: center; color: white;">
        <img src="~/css/img/banner2.png" alt="..." style=" width: 100%; height: 400px">
        <h4 style="letter-spacing: 5px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Navegue e encontre alimentos que atendam às suas restrições alimentares, simplificando suas escolhas e cuidando da sua saúde</h4>
    </section>

    <section class="resultado_pesquisa">
        <h2>Resultado da pesquisa: </h2>
        <div class="row m-4">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card bg-transparent">
                        @if (item.Imagem != null && item.Imagem.Length > 0)
                        {
                            <img class="card-img-top card-img-fixed-size" src="data:@item.TipoImagem;base64,@Convert.ToBase64String(item.Imagem)" alt="Imagem de capa do card">
                        }
                        else
                        {
                            <img class="card-img-top card-img-fixed-size" src="~/css/img/download.png" alt="Imagem padrão">
                        }
                        <div class="card-body">
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="card-text">Preço: R$ @item.Preco</p>
                            <p class="card-text">Adequado para: @item.Restricoes</p>
                            <p class="card-text">Disponível em: @item.Estabelecimento.Nome</p>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary btn-sm border-0" style="background-color: #BC6C25">Ver Detalhes</a>
                            <a asp-action="SalvarProduto" asp-controller="ListaDeCompras" asp-route-produtoId="@item.Id" class="btn btn-secondary btn-sm border-0" style="background-color: #606C38">Adicionar à Lista </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
  
</body>

<footer class="footer_ajustes" style="background-color: #283618; height:200px">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="titulo_footer">SIGA-NOS NAS REDES SOCIAIS</h3>
            </div>
            <div>
                <img class="mx-3" src="~/css/img/facebook.png" alt="facebook">
                <img class="mx-3" src="~/css/img/instagram.png" alt="instagram">
            </div>
        </div>
    </div>
    <div>
        <p class="rodape_footer">© 2023 - Seleta - Idiomas - Política de Privacidade - Ajuda</p>
    </div>
</footer>