@model Seleta.Models.Estabelecimento

@{
    ViewData["Title"] = "Remover";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<head>
    <title> Remover Estabelecimento</title>
    <link rel="icon" type="image/x-icon" href="~/css/img/Seleta.png">

</head>

<body>
    <section class="details_usuario">
        <div class="titulo_informacao-usuario">
            <h3>Você tem certeza que deseja excluir este Estabelecimento?</h3>
            <hr />
        </div>
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent lista_informacao-usuario">@Html.DisplayNameFor(model => model.Nome): @Html.DisplayFor(model => model.Nome)</li>
                <li class="list-group-item bg-transparent lista_informacao-usuario">@Html.DisplayNameFor(model => model.Endereco): @Html.DisplayFor(model => model.Endereco)</li>
                <li class="list-group-item bg-transparent lista_informacao-usuario"> @Html.DisplayNameFor(model => model.Contato): @Html.DisplayFor(model => model.Contato)</li>
            </ul>
        </div>
        <div>
            <form asp-action="Delete" class="p-3">
                <input type="hidden" asp-for="Cnpj" />
                <a asp-action="Index" class="btn btn-dark btn-lg btn-block border-0 botoes_perfil-usuario">
                    Voltar
                </a>
                <input type="submit" value="Excluir" class="btn btn-danger btn-lg btn-block border-0 botoes_perfil-usuario" />
            </form>
        </div>
    </section>
    <section class="perfil_usuario-logo">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="texto_logo">Amplie sua presença online e alcance mais clientes.</h3>
                </div>
            </div>
        </div>
    </section>
</body>
<footer class="footer_ajustes" style="background-color: #283618; height:200px">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="titulo_footer">SIGA-NOS NAS REDES SOCIAIS</h3>
            </div>
            <div>
                <img class="mx-3" src="~/css/img/facebook.png" alt="facebook">
                <img class="mx-3" src="~/css/img/instagram.png" alt="instagram">
            </div>
        </div>
    </div>
    <div>
        <p class="rodape_footer"> © 2023 - Seleta - Idiomas - Política de Privacidade - Ajuda</p>
    </div>
</footer>
