@model IEnumerable<Seleta.Models.Estabelecimento>

@{
    ViewData["Title"] = "Meus estabelecimentos";
}
<head>
    <title>Estabelecimento</title>
    <link rel="icon" type="image/x-icon" href="~/css/img/Seleta.png">
</head>
<body style="background-color: #606C38">

<header>
    <nav class="navbar-perfil navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
        <div class="menu-principal navbar-collapse collapse d-sm-inline-flex justify-content-between container-fluid">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <img src="~/css/img/Seleta.png" alt="Logo" style="position: relative; width: 45px; height: 45px; top: 2%; left: 7%;">
                    </li>
                </ul>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Seleta
                    </a>
                </li>
            </ul>
        </div> 
    </nav>
</header>
    <h1 style =" color: #FEFAE0">Estabelecimentos</h1>
    <br />
    <p>  
        <a asp-action="Create" class="btn btn-outline-light">Cadastrar novo estabelecimento</a>
    </p>
    <table class="table" style=" color: #FEFAE0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.CPF)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Cnpj" class="btn btn-outline-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Cnpj" class="btn btn-outline-light">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Cnpj" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>