@model IEnumerable<Seleta.Models.Estabelecimento>

@{
    ViewData["Title"] = "Meus estabelecimentos";
}
<head>
    <title>Estabelecimento</title>
    <link rel="icon" type="image/x-icon" href="~/css/img/Seleta.png">
</head>

<body style="background-color: #FEFAE0">
    <section class="details_usuario">
        <div class="titulo_informacao-usuario">
            <h3>Meus Estabelecimentos</h3>
            <hr />
            <p>
                <a asp-controller="Usuario" asp-action="Perfil" class="btn btn-outline-light">Meu Perfil</a>
                <a asp-action="Create" class="btn btn-outline-light">Cadastrar novo estabelecimento</a>
            </p>
        </div>
        <div class="table-responsive titulo_informacao-usuario">
            <table class="table" style="color: #FEFAE0; vertical-align: middle">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cnpj)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cnpj)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Cnpj" type="button" class="btn btn-dark btn_index-estabelecimento">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.Cnpj" type="button" class="btn btn-info btn_index-estabelecimento">Detalhes</a>
                                <a asp-action="Delete" asp-route-id="@item.Cnpj" type="button" class="btn btn-danger btn_index-estabelecimento">Excluir</a>
                                <a asp-controller="Produtos" asp-action="Index" asp-route-cnpjEstabelecimento="@item.Cnpj" type="button" class="btn btn-light btn_index-estabelecimento">Produtos</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <section class="perfil_usuario-logo">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="texto_logo">Amplie sua presença online e alcance mais clientes.</h3>
                </div>
            </div>
        </div>
    </section>
</body>
<footer>
    <div>
        <p class="rodape_footer_estabalecimento"> © 2023 - Seleta - Idiomas - Política de Privacidade - Ajuda</p>
    </div>
</footer>

