@model Produto
@{
    ViewData["Title"] = "Salvar produto";
}

<body>
    <section class="details_usuario" style="background-color: #BC6C25C2;">
        <div class="titulo_informacao-usuario">
            <h3>Adicionar à lista de compras?</h3>
            <h5>Produto</h5>
            <hr />
        </div>
        <div>
            <dl class="row" style="margin-left: 1%">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Preco)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Preco)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QuantidadePeso)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QuantidadePeso)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Categoria)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Restricoes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Restricoes)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Estabelecimento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Estabelecimento.Cnpj)
                </dd>
            </dl>
        </div>
        <div>
            <form asp-action="SalvarProdutoConfirmado" class="p-3">
                <input type="hidden" asp-for="Id" name="produtoId"/>
                <a asp-controller="Filtros" asp-action="Index" class="btn btn-dark btn-md btn-block border-0 botoes_perfil-usuario">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary btn-md btn-block border-0 botoes_perfil-usuario" />
            </form>
        </div>
    </section>
    <section class="perfil_usuario-logo">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="texto_logo">Amplie sua presença online e alcance mais clientes.</h3>
                </div>
            </div>
        </div>
    </section>
</body>

<footer class="footer_ajustes" style="background-color: #283618; height:200px">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="titulo_footer">SIGA-NOS NAS REDES SOCIAIS</h3>
            </div>
            <div>
                <img class="mx-3" src="~/css/img/facebook.png" alt="facebook">
                <img class="mx-3" src="~/css/img/instagram.png" alt="instagram">
            </div>
        </div>
    </div>
    <div>
        <p class="rodape_footer"> © 2023 - Seleta - Idiomas - Política de Privacidade - Ajuda</p>
    </div>
</footer>